* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background: #dcdcdc;
  }
  
.container-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position:absolute;
  width: 360px;
  height: 640px;
  left: 537px;
  top: 32px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}